@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand{
  width: 5rem;
  height: 5rem;
}
#carrito {
    padding-right: 30px;
  }
  .nav-link:hover {
    background-color: #d17600;
    
  }
  .nav-link {
    padding-top: 5%;
    text-decoration: none;
    color: inherit;
  }
  .cabeza {
    background: #be7e07e5;
    position: relative;
  }
  #headlogbg {
    background-color: #5b6ff0 !important;
  }

  